bundle:
  name: dms-empty-grants-$UNIQUE_NAME
experimental:
  record_deployment_history: true

resources:
  schemas:
    foo:
      name: dms_empty_grants_$UNIQUE_NAME
      catalog_name: main
      grants: [{principal: deco-test-user@databricks.com, privileges: [USE_SCHEMA]}]
