bundle:
  name: dashboards

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  dashboards:
    file_reference:
      display_name: test-dashboard-$UNIQUE_NAME
      file_path: ./dashboard.lvdash.json
      warehouse_id: $TEST_DEFAULT_WAREHOUSE_ID
