bundle:
  name: acc-$UNIQUE_NAME

resources:
  pipelines:
    my:
      configuration:
        spark.sql.ansi.enabled: "true"
      name: test-pipeline-$UNIQUE_NAME
      libraries:
        - file:
            path: "./foo.py"
