bundle:
  name: dms-existing-state-$UNIQUE_NAME

resources:
  jobs:
    one:
      name: one
    two:
      name: two
      tasks:
        - task_key: run_one
          run_job_task:
            job_id: ${resources.jobs.one.id}
