bundle:
  name: deploy-lakebase-catalog-$UNIQUE_NAME

resources:
  database_instances:
    my_instance:
      name: test-database-instance-$UNIQUE_NAME
      capacity: CU_1
  database_catalogs:
    my_catalog:
      database_instance_name: ${resources.database_instances.my_instance.name}
      database_name: "my_database"
      name: my_catalog_$UNIQUE_NAME
      create_database_if_not_exists: true
