bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    sample_job:
      name: sample_job
      tasks:
        - task_key: notebook_task
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/notebook
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
        - task_key: python_wheel_task
          depends_on:
            - task_key: notebook_task
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/python
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
        - task_key: pipeline_task
          depends_on:
            - task_key: notebook_task
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/pipeline
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
        - task_key: extra
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/extra
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
