{
    "display_name": "test dashboard",
    "parent_path": "/Workspace/Users/$CURRENT_USER_NAME/test-$UNIQUE_NAME",
    "serialized_dashboard": "{\"pages\":[{\"displayName\":\"New Page\",\"layout\":[],\"name\":\"12345678\"}]}"
}
