# Badness = "Brief description of what's wrong with the test output, if anything"

Ignore = ['ignore*']


#[GOOS]
# Disable on Windows
#windows = false

# Disable on Mac
#darwin = false

# Disable on Linux
#linux = false

[[Repls]]
Old = '\b[0-9]{5}\b'
New = "CUSTOM_NUMBER_REGEX"

[[Repls]]
# Fix path with reverse slashes in the output for Windows.
Old = 'TEST_TMP_DIR]\\subdir\\a\\b\\c'
New = 'TEST_TMP_DIR]/subdir/a/b/c'
