bundle:
  name: dms-failed-recreate-$UNIQUE_NAME
experimental:
  record_deployment_history: true

resources:
  schemas:
    foo:
      name: dms_failed_recreate_schema_$UNIQUE_NAME
      catalog_name: main
      comment: v1
