bundle:
  name: test-bundle

resources:
  schemas:
    schema1:
      catalog_name: main
      name: test-schema-$UNIQUE_NAME
  volumes:
    volume1:
      catalog_name: main
      schema_name: ${resources.schemas.schema1.name}
      name: test-volume-$UNIQUE_NAME
