{{- /*
     * Message shown when user knows the workspace URL but is not authenticated to Databricks.
     *
     */ -}}

You are not authenticated to Databricks.

To authenticate, please run:
  databricks auth login --profile <profile_name> --host {{.WorkspaceURL}}

Ask for a profile name or use `DEFAULT`.

Don't have a Databricks account? You can set up a fully free account for experimentation at:
https://docs.databricks.com/getting-started/free-edition

Do not run anything else before authenticating successfully.
Once authenticated, you can use this tool again
