from {{.project_name}}.main import get_users, get_spark

# running tests requires installing databricks-connect, e.g. by uncommenting it in pyproject.toml


def test_main():
    users = get_users(get_spark())
    assert users.count() > 5
