targets:
  dev:
    mode: development
    resources:
      jobs:
        edit_second_target_file:
          tasks:
            - task_key: first_a
              timeout_seconds: 91
              notebook_task:
                notebook_path: /Workspace/multifile-first-a
            - task_key: first_z
              timeout_seconds: 92
              notebook_task:
                notebook_path: /Workspace/multifile-first-z
