targets:
  dev:
    mode: development
    resources:
      jobs:
        s9_multifile_target:
          tasks:
            - task_key: first_a
              timeout_seconds: 91
              notebook_task:
                notebook_path: /Workspace/s9-first-a
            - task_key: first_z
              timeout_seconds: 92
              notebook_task:
                notebook_path: /Workspace/s9-first-z
