targets:
  dev:
    resources:
      jobs:
        edit_second_target_file:
          tasks:
            - task_key: second_a
              timeout_seconds: 93
              notebook_task:
                notebook_path: /Workspace/multifile-second-a
            - task_key: second_b
              timeout_seconds: 94
              notebook_task:
                notebook_path: /Workspace/multifile-second-b
