# The job that triggers {{template `pipeline_name` .}}.
resources:
  jobs:
    {{template `job_name` .}}:
      name: {{template `job_name` .}}

      trigger:
        # Run this job every day, exactly one day from the last run; see https://docs.databricks.com/api/workspace/jobs/create#trigger
        periodic:
          interval: 1
          unit: DAYS

      email_notifications:
        on_failure: ${var.notifications}

      tasks:
        - task_key: refresh_pipeline
          pipeline_task:
            pipeline_id: ${resources.pipelines.{{template `pipeline_name` .}}.id}
