bundle:
  name: dms-no-drift-$UNIQUE_NAME
experimental:
  record_deployment_history: true

resources:
  jobs:
    foo:
      name: foo
  pipelines:
    bar:
      name: bar
      catalog: main
      schema: default
      serverless: true
