bundle:
  name: alerts-with-file-$UNIQUE_NAME

resources:
  alerts:
    myalert:
      warehouse_id: $TEST_DEFAULT_WAREHOUSE_ID
      display_name: "My alert with file"
      file_path: ./alert.dbalert.json
