from databricks.connect import DatabricksSession
from pyspark.sql import SparkSession
from {{.project_name}} import main

# Create a new Databricks Connect session. If this fails,
# check that you have configured Databricks Connect correctly.
# See https://docs.databricks.com/dev-tools/databricks-connect.html.
{{/*
  HACK: as of 2023-09, the standard SparkSession builder doesn't support
  Databricks Connect unless it is used from the IDE or the workspace.
  The reason we're using the standard builder throughout this template is that
  it works for older Databricks Runtime versions as well. By re-assigning the
  builder property, we make the SparkSession.builder works locally as well.
*/}}
SparkSession.builder = DatabricksSession.builder
SparkSession.builder.getOrCreate()

def test_main():
    taxis = main.get_taxis()
    assert taxis.count() > 5
