targets:
  dev:
    mode: development
    resources:
      jobs:
        multifile_job:
          tasks:
            - task_key: from_first_file
              notebook_task:
                notebook_path: /Users/{{workspace_user_name}}/first
