cmd/account/account-groups/account-groups.go linguist-generated=true
cmd/account/account-ip-access-lists/account-ip-access-lists.go linguist-generated=true
cmd/account/account-metastore-assignments/account-metastore-assignments.go linguist-generated=true
cmd/account/account-metastores/account-metastores.go linguist-generated=true
cmd/account/account-service-principals/account-service-principals.go linguist-generated=true
cmd/account/account-storage-credentials/account-storage-credentials.go linguist-generated=true
cmd/account/account-users/account-users.go linguist-generated=true
cmd/account/billable-usage/billable-usage.go linguist-generated=true
cmd/account/budgets/budgets.go linguist-generated=true
cmd/account/credentials/credentials.go linguist-generated=true
cmd/account/custom-app-integration/custom-app-integration.go linguist-generated=true
cmd/account/encryption-keys/encryption-keys.go linguist-generated=true
cmd/account/log-delivery/log-delivery.go linguist-generated=true
cmd/account/networks/networks.go linguist-generated=true
cmd/account/o-auth-enrollment/o-auth-enrollment.go linguist-generated=true
cmd/account/private-access/private-access.go linguist-generated=true
cmd/account/published-app-integration/published-app-integration.go linguist-generated=true
cmd/account/storage/storage.go linguist-generated=true
cmd/account/vpc-endpoints/vpc-endpoints.go linguist-generated=true
cmd/account/workspace-assignment/workspace-assignment.go linguist-generated=true
cmd/account/workspaces/workspaces.go linguist-generated=true
cmd/alerts/alerts.go linguist-generated=true
cmd/catalogs/catalogs.go linguist-generated=true
cmd/cluster-policies/cluster-policies.go linguist-generated=true
cmd/clusters/clusters.go linguist-generated=true
cmd/cmd.go linguist-generated=true
cmd/current-user/current-user.go linguist-generated=true
cmd/dashboards/dashboards.go linguist-generated=true
cmd/data-sources/data-sources.go linguist-generated=true
cmd/experiments/experiments.go linguist-generated=true
cmd/external-locations/external-locations.go linguist-generated=true
cmd/functions/functions.go linguist-generated=true
cmd/git-credentials/git-credentials.go linguist-generated=true
cmd/global-init-scripts/global-init-scripts.go linguist-generated=true
cmd/grants/grants.go linguist-generated=true
cmd/groups/groups.go linguist-generated=true
cmd/instance-pools/instance-pools.go linguist-generated=true
cmd/instance-profiles/instance-profiles.go linguist-generated=true
cmd/ip-access-lists/ip-access-lists.go linguist-generated=true
cmd/jobs/jobs.go linguist-generated=true
cmd/libraries/libraries.go linguist-generated=true
cmd/metastores/metastores.go linguist-generated=true
cmd/model-registry/model-registry.go linguist-generated=true
cmd/permissions/permissions.go linguist-generated=true
cmd/pipelines/pipelines.go linguist-generated=true
cmd/policy-families/policy-families.go linguist-generated=true
cmd/providers/providers.go linguist-generated=true
cmd/queries/queries.go linguist-generated=true
cmd/query-history/query-history.go linguist-generated=true
cmd/recipient-activation/recipient-activation.go linguist-generated=true
cmd/recipients/recipients.go linguist-generated=true
cmd/repos/repos.go linguist-generated=true
cmd/schemas/schemas.go linguist-generated=true
cmd/secrets/secrets.go linguist-generated=true
cmd/service-principals/service-principals.go linguist-generated=true
cmd/serving-endpoints/serving-endpoints.go linguist-generated=true
cmd/shares/shares.go linguist-generated=true
cmd/storage-credentials/storage-credentials.go linguist-generated=true
cmd/table-constraints/table-constraints.go linguist-generated=true
cmd/tables/tables.go linguist-generated=true
cmd/token-management/token-management.go linguist-generated=true
cmd/tokens/tokens.go linguist-generated=true
cmd/users/users.go linguist-generated=true
cmd/volumes/volumes.go linguist-generated=true
cmd/warehouses/warehouses.go linguist-generated=true
cmd/workspace-conf/workspace-conf.go linguist-generated=true
cmd/workspace/workspace.go linguist-generated=true
