resources:
  jobs:
    send_slack_message:
      name: "[example] send_slack_message"

      tasks:
        - task_key: slack
          environment_key: {{.project_name}}_environment
          python_operator_task:
            main: {{.project_name}}.examples.slack.send_slack_message
            parameters:
              - name: "conn_id"
                value: "CHANGEME"
              - name: "text"
                value: "Hello, World"
              - name: "channel"
                value: "CHANGEME"

      environments:
        - environment_key: {{.project_name}}_environment
          spec:
            environment_version: "5"
            dependencies:
              - ../dist/*.whl
