bundle:
  name: dms-upload-fails-once-$UNIQUE_NAME
experimental:
  record_deployment_history: true

resources:
  schemas:
    foo:
      name: dms_upload_fails_once_schema_$UNIQUE_NAME
      catalog_name: main
      comment: v1
