bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    foo:
      name: test-job-$UNIQUE_NAME
      tasks:
        - task_key: main
          notebook_task:
            notebook_path: /Workspace/Users/denis.bilenko@databricks.com/notebook
            source: WORKSPACE # otherwise TF implementation adds this to request and triggers diff
      permissions: # PERMISSIONS
        - level: CAN_VIEW # PERMISSONS
          user_name: test-delete-me-$UNIQUE_NAME@databricks.com # PERMISSONS
