bundle:
  name: {{.ProjectName}}

workspace:
{{- if .WorkspaceHost}}
  host: {{.WorkspaceHost}}
{{- end}}

resources:
  apps:
    {{.ProjectName}}:
      name: {{.ProjectName}}
{{- if .AppDescription}}
      description: {{.AppDescription}}
{{- end}}
      source_code_path: ./
{{- if .ResourceBindings}}
      resources:
{{.ResourceBindings}}
{{- end}}
