bundle:
  name: deploy-postgres-synced-table-$UNIQUE_NAME

sync:
  paths: []

resources:
  schemas:
    pipeline_storage:
      name: pipeline_storage_$UNIQUE_NAME
      catalog_name: main
      comment: "Pipeline storage for the synced-table test"

  postgres_projects:
    my_project:
      project_id: test-pg-proj-$UNIQUE_NAME
      display_name: "Test Project for Synced Table"
      pg_version: 17

  postgres_catalogs:
    my_catalog:
      catalog_id: lakebase_test_$UNIQUE_NAME
      branch: ${resources.postgres_projects.my_project.id}/branches/production
      postgres_database: appdb
      create_database_if_missing: true

  postgres_synced_tables:
    my_table:
      synced_table_id: ${resources.postgres_catalogs.my_catalog.catalog_id}.public.trips_synced
      source_table_full_name: main.source_$UNIQUE_NAME.trips_source
      primary_key_columns: ["tpep_pickup_datetime"]
      scheduling_policy: SNAPSHOT
      postgres_database: appdb
      branch: ${resources.postgres_projects.my_project.id}/branches/production
      create_database_objects_if_missing: true
      new_pipeline_spec:
        storage_catalog: ${resources.schemas.pipeline_storage.catalog_name}
        storage_schema: ${resources.schemas.pipeline_storage.name}
