databricks-bundles
--------------------------------

`databricks-bundles` package implements Python support for Declarative Automation Bundles.

See `Bundle configuration in Python <https://docs.databricks.com/aws/en/dev-tools/bundles/python>`_.


.. toctree::
   :maxdepth: 7

${toctree}
