resources:
  jobs:
    foo:
      name: test-bundle-job-{{.unique_id}}
      tasks:
        - task_key: my_notebook_task
          new_cluster:
            num_workers: 1
            spark_version: "{{.spark_version}}"
            node_type_id: "{{.node_type_id}}"
          notebook_task:
            notebook_path: "./bar.py"
  pipelines:
    bar:
      name: test-bundle-pipeline-{{.unique_id}}
      libraries:
        - file:
            path: "./foo.py"
