bundle:
  name: test-bundle-$UNIQUE_NAME


resources:
  alerts:
    foo:
      warehouse_id: $TEST_DEFAULT_WAREHOUSE_ID
      display_name: test-alert-$UNIQUE_NAME
      file_path: ./alert.dbalert.json
