Cloud = true

Ignore = ["input.json"]

EnvMatrix.READPLAN = ["", "1"]

# Using shortcuts, because max path component name on Windows is 256 chars
# INCLUDE_NOTEBOOK
EnvMatrix.NBOOK = ["yes", "no"]

# INCLUDE_DLT
EnvMatrix.DLT = ["yes", "no"]

# INCLUDE_PYTHON
EnvMatrix.PY = ["yes", "no"]

[[Repls]]
Old = '202\d{5}.\d{5,}'
New = '[VERSION_TIMESTAMP]'

[[Repls]]
Old = '\\'
New = '/'
