{
  "project_name": "$project_name",
  "include_notebook": "$include_notebook",
  "include_dlt": "$include_dlt",
  "include_python": "$include_python",
  "enable_pydabs": "yes",
  "serverless": "$serverless"
}
