[project]
name = "{{.project_name}}"
version = "0.0.1"
authors = [{ name = "{{user_name}}" }]
requires-python = "{{template "python_version_spec"}}"
dependencies = [
    # Any dependencies for jobs and pipelines in this project can be added here
    # See also https://docs.databricks.com/dev-tools/bundles/library-dependencies
    #
    # LIMITATION: for pipelines, dependencies are cached during development;
    # add dependencies to the 'environment' section of your pipeline.yml file instead
]

[dependency-groups]
dev = [
    "pytest",
    "databricks-dlt",
    "databricks-connect{{template "conservative_db_connect_version_spec"}}",
{{- if eq .enable_pydabs "yes" }}
    "databricks-bundles=={{template "latest_databricks_bundles_version"}}",
{{- end }}
]

[project.scripts]
main = "{{.project_name}}.main:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
{{- $has_python_package_dir := and (or (eq .include_python "yes") (eq .include_job "yes") (eq .include_pipeline "yes")) (not (eq .lakeflow_only "yes")) }}
{{- if not $has_python_package_dir }}
{{- /* Hatch can normally automatically detect the package directory,
     * but requires an explicit setting when the package directory is empty.
     */}}

[tool.hatch.build.targets.wheel]
packages = ["src"]
{{- end }}

[tool.black]
line-length = 125
