# Preamble

This file only template directives; it is skipped for the actual output.

{{skip "__preamble"}}

{{$notPipeline := not (eq .include_pipeline "yes")}}
{{$notJob := not (eq .include_job "yes")}}
{{$notPythonPackage := not (eq .include_python "yes")}}

{{if $notPythonPackage}}
  {{skip "{{.project_name}}/lib/{{.project_name}}"}}
{{end}}

{{if $notPipeline}}
  {{skip "{{.project_name}}/resources/{{.project_name_short}}_pipeline"}}
{{end}}

{{if $notJob}}
  {{skip "{{.project_name}}/resources/{{.project_name_short}}_job"}}
{{end}}

{{if not (or $notPipeline $notJob)}}
  {{skip "{{.project_name}}/resources/.gitkeep"}}
{{end}}
