{
  "project_name": "my_pydabs",
  "include_notebook": "$INCLUDE_NOTEBOOK",
  "include_dlt": "$INCLUDE_DLT",
  "include_python": "$INCLUDE_PYTHON",
  "enable_pydabs": "yes",
  "serverless": "$SERVERLESS"
}
