bundle:
  name: test-bundle-$UNIQUE_NAME

include:
  - overrides/*.yml

resources:
  jobs:
    edit_second_target_file:
      tasks:
        - task_key: top
          timeout_seconds: 90
          notebook_task:
            notebook_path: /Workspace/multifile-top
