# This is a Databricks asset bundle definition for {{.project_name}}.
# See https://docs.databricks.com/dev-tools/bundles/index.html for documentation.
bundle:
  name: {{.project_name}}
  uuid: {{bundle_uuid}}

include:
  - resources/*.yml

targets:
  dev:
    default: true
    mode: development
    workspace:
      host: {{workspace_host}}
