bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  catalogs:
    foo:
      name: test-catalog-$UNIQUE_NAME
      comment: This is a test catalog # CAN_REMOVE
      grants:
        - principal: account users
          privileges:
            - USE_CATALOG
