bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  clusters:
    foo:
      cluster_name: test-cluster-$UNIQUE_NAME
      spark_version: 13.3.x-scala2.12
      node_type_id: $NODE_TYPE_ID
      num_workers: 1
