bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  dashboards:
    foo:
      warehouse_id: $TEST_DEFAULT_WAREHOUSE_ID
      display_name: test-dashboard-$UNIQUE_NAME
      file_path: ./dashboard.lvdash.json
