bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  database_instances:
    foo:
      name: test-db-instance-$UNIQUE_NAME
      capacity: CU_1
      permissions:
        - level: CAN_USE
          group_name: users
