bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    foo:
      name: test-job-$UNIQUE_NAME
      description: This is a test job # CAN_REMOVE
      permissions:
        - level: CAN_VIEW
          group_name: users
