bundle:
  name: test-bundle-$UNIQUE_NAME

variables:
  catalog_name:
    default: main

resources:
  jobs:
    example_ingestion_job:
      name: test-job-$UNIQUE_NAME
      tasks:
        - task_key: run_generic_ingestion
          notebook_task:
            notebook_path: src/Notebooks/common/elt/Generic_Runs
            base_parameters:
              generic_config: '{"source": {"path": "landing/$${p_folder}/$${source_file}_*.csv"}, "schema": {"columns": [{"name": "w_batch_id", "expression": "$${batch_id}"}, {"name": "w_business_dt", "expression": "cast(''$${business_date[0..9]}'' as date)"}]}, "target": {"table": "${var.catalog_name}.$${p_env_stg}.$${target_table}"}}'
              parameters_list: '[{"source_file": "TableA", "target_table": "table_a", "p_env_stg": "stg_example", "p_folder": "foldera"}, {"source_file": "TableB", "target_table": "table_b", "p_env_stg": "stg_example", "p_folder": "folderb"}]'
      parameters:
        - name: batch_id
          default: '{{job.id}}'
        - name: business_date
          default: '{{job.start_time.iso_date}}'
