bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    foo:
      name: test-job-$UNIQUE_NAME
      tasks:
        - task_key: only_task
          notebook_task:
            notebook_path: /Shared/notebook
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
