bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    foo:
      name: test-job-$UNIQUE_NAME
      tasks:
        # Deploying a job_run actually runs the job, and the wait needs a task a
        # workspace will execute. Serverless keeps this one to about a minute.
        - task_key: only_task
          spark_python_task:
            python_file: ./job_run.py
          environment_key: default

      environments:
        - environment_key: default
          spec:
            environment_version: "2"

  job_runs:
    foo_run:
      job_id: ${resources.jobs.foo.id}
