bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    foo:
      name: test-job-$UNIQUE_NAME
      tasks:
        # Deploying a job_run actually runs the job, so use a condition task,
        # which needs no workspace files or compute.
        - task_key: only_task
          condition_task:
            op: EQUAL_TO
            left: "1"
            right: "1"

  job_runs:
    foo_run:
      job_id: ${resources.jobs.foo.id}
