bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  model_provider_services:
    foo:
      parent: schemas/main.default
      model_provider_service_id: test-model-provider-service-$UNIQUE_NAME
      comment: test model provider service
      config:
        provider_type: EXTERNAL_MODEL_PROVIDER_TYPE_CUSTOM
        targets:
          - model: gpt-4o
            native_api_types:
              - openai/v1/chat/completions
        custom:
          direct:
            base_url: https://api.example.com/v1
            api_key:
              plaintext: dummy-api-key
