bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  model_services:
    foo:
      parent: schemas/main.default
      model_service_id: test-model-service-$UNIQUE_NAME
      comment: test model service
