bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  pipelines:
    foo:
      name: test-pipeline-$UNIQUE_NAME
      catalog: main
      target: test_schema_$UNIQUE_NAME
      continuous: true
      development: false
      channel: CURRENT
      edition: PRO
      libraries:
        - file:
            path: pipeline.py
