bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  pipelines:
    foo:
      configuration:
        spark.sql.ansi.enabled: "true"
      name: test-pipeline-$UNIQUE_NAME
      development: true # CAN_REMOVE
      libraries:
        - file:
            path: pipeline.py
      permissions:
        - level: CAN_VIEW
          group_name: users
