bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  postgres_projects:
    project:
      project_id: test-pg-project-$UNIQUE_NAME
      display_name: Test Postgres Project

  # Take over the branch implicitly provisioned with the project rather than
  # creating a new one.
  postgres_branches:
    foo:
      parent: ${resources.postgres_projects.project.name}
      branch_id: production
      replace_existing: true
      no_expiry: true
