bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  schemas:
    foo:
      catalog_name: main
      name: test-schema-$UNIQUE_NAME
      comment: This is a test schema # CAN_REMOVE
      grants:
        - principal: account users
          privileges:
            - USE_SCHEMA
