bundle:
  name: test-bundle-$UNIQUE_NAME

variables:
  secret_value:
    description: The value of the secret

resources:
  secrets:
    foo:
      catalog_name: main
      schema_name: default
      name: test-secret-$UNIQUE_NAME
      value: ${var.secret_value}
      # CANNOT_REMOVE: comment is not force-sent on update, so clearing it drops the field
      # from the request and the old value drifts back on every subsequent plan (#6343 class).
      comment: This is a test secret
      grants:
        - principal: account users
          privileges:
            - MANAGE
