bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  vector_search_endpoints:
    foo:
      name: test-endpoint-$UNIQUE_NAME
      endpoint_type: STANDARD
    bar:
      # Endpoint names must be < 50 chars, so keep this prefix short.
      name: test-vse-perm-$UNIQUE_NAME
      endpoint_type: STANDARD
      permissions:
        - level: CAN_USE
          user_name: viewer@example.com
