bundle:
  name: deploy-registered-models-basic-$UNIQUE_NAME

resources:
  schemas:
    my_schema:
      catalog_name: main
      name: myschema_$UNIQUE_NAME
  registered_models:
    my_registered_model:
      name: mymodel
      comment: mycomment
      catalog_name: main
      # implicit dependency detection resolves this to ${resources.schemas.my_schema.name}
      schema_name: myschema_$UNIQUE_NAME
      grants:
        - principal: deco-test-user@databricks.com
          privileges: ["APPLY_TAG"]
