# This is a Declarative Automation Bundle definition for {{.project_name}}.
# See https://docs.databricks.com/dev-tools/bundles/index.html for documentation.
bundle:
  name: {{.project_name}}

include:
  - resources/*.yml

targets:
  # The 'dev' target is the default target. It uses 'mode: development' to create
  # development copies: deployed resources get prefixed with '[dev my_user_name]'
  # and any schedules and triggers are paused by default.
  # See https://docs.databricks.com/dev-tools/bundles/deployment-modes.html.
  dev:
    mode: development
    default: true
