Local = false

#
# On June 18 2025 it was taking:
# - 160-180 seconds to start an application in this test
# - 10 seconds to stop the application
# - 10-20 seconds to deploy the bundle
# This test includes 2 application starts, and it is taking aroung 420 seconds to complete the entire test
#
CloudSlow = true


EnvMatrix.DATABRICKS_CLI_DEPLOYMENT = ["terraform"]  # uses ${resources} reference
# Error: deploying apps.test_app: creating: Method=Apps.Create *retries.Err *apierr.APIError StatusCode=400 ErrorCode="INVALID_PARAMETER_VALUE" Message="Invalid job resource app-job: ID ${resources.jobs.foo.id} is invalid.

Ignore = [
    'databricks.yml',
]

[Env]
# MSYS2 automatically converts absolute paths like /Users/$username/$UNIQUE_NAME to
# C:/Program Files/Git/Users/$username/UNIQUE_NAME before passing it to the CLI
# Setting this environment variable prevents that conversion on windows.
MSYS_NO_PATHCONV = "1"
