bundle:
  name: secret-scope-basic-$UNIQUE_NAME

resources:
  secret_scopes:
    my_scope:
      name: $SECRET_SCOPE_NAME
      backend_type: "DATABRICKS"
      permissions:
        - user_name: deco-test-user@databricks.com
          level: WRITE
