resources:
  dashboards:
    dashboard1:
      display_name: $DASHBOARD_DISPLAY_NAME
      warehouse_id: $TEST_DEFAULT_WAREHOUSE_ID
      embed_credentials: true
      file_path: "sample-dashboard.lvdash.json"
