from setuptools import setup, find_packages

import {{.project_name}}

setup(
    name="{{.project_name}}",
    version={{.project_name}}.__version__,
    author={{.project_name}}.__author__,
    url="https://databricks.com",
    author_email="john.doe@databricks.com",
    description="my example wheel",
    packages=find_packages(include=["{{.project_name}}"]),
    entry_points={"group1": "run={{.project_name}}.__main__:main"},
    install_requires=["setuptools"],
)
