bundle:
  name: recreate-gone-genie-space-$UNIQUE_NAME

resources:
  genie_spaces:
    sales_analytics:
      title: "Recreate When Gone"
      warehouse_id: "test-warehouse-id"
      parent_path: /Users/$CURRENT_USER_NAME
      serialized_space:
        version: 1
