bundle:
  name: schema-grants-delete-semantics-$UNIQUE_NAME

resources:
  schemas:
    grants_schema:
      name: schema_delete_semantics_$UNIQUE_NAME
      catalog_name: main
      grants: [{ principal: deco-test-user@databricks.com, privileges: [USE_SCHEMA] }] # GRANTS
