# This file defines prompts with defaults for dbt initializaton.
# It is used when the `dbt init` command is invoked.
#
fixed:
  type: databricks
prompts:
  host:
    default: {{(regexp "^https?://").ReplaceAllString workspace_host ""}}
  token:
    hint: 'personal access token to use, dapiXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
    hide_input: true
  http_path:
    hint 'HTTP path of SQL warehouse to use'
    default: {{.http_path}}
  {{- if eq .catalog ""}}
  _choose_unity_catalog:
    'use the workspace default catalog (or do not use Unity Catalog)':
      _fixed_catalog: null
    'specify a default catalog':
      catalog:
        hint: 'initial catalog'
  {{- else}}
  catalog:
    hint: 'initial catalog'
    default: {{.catalog}}
  {{- end}}
  schema:
    hint: 'default schema where dbt will build objects, e.g. {{.schema}} or {{short_name}}_dev'
    default: {{.schema}}
  threads:
    hint: '1 or more'
    type: 'int'
    default: 4
