bundle:
  name: test-bundle-immutable-no-artifacts-$UNIQUE_NAME

experimental:
  immutable_folder: true

resources:
  jobs:
    my_job:
      name: my job
      tasks:
        - task_key: spark_python_task
          spark_python_task:
            python_file: ./src/main.py
          environment_key: env
        - task_key: notebook_task
          notebook_task:
            notebook_path: ./src/notebook.py
            base_parameters:
              path: ${workspace.file_path}/some_path


      environments:
        - environment_key: env
          spec:
            environment_version: "4"
