bundle:
  name: secret-scope-permissions-$UNIQUE_NAME

resources:
  secret_scopes:
    my_scope:
      name: $SECRET_SCOPE_NAME
      backend_type: "DATABRICKS"
      permissions:
        - user_name: $TEST_USER_1
          level: READ
        - user_name: $TEST_USER_2
          level: WRITE
        - group_name: $TEST_GROUP
          level: MANAGE
