bundle:
  name: dms-emptied-resource-$UNIQUE_NAME
experimental:
  record_deployment_history: true

resources:
  schemas:
    foo:
      name: dms_emptied_resource_$UNIQUE_NAME
      catalog_name: main
      grants: [{principal: someone@example.com, privileges: [USE_SCHEMA]}]
