bundle:
  name: test-bundle-$UNIQUE_NAME

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  cluster_policies:
    pol:
      name: test-policy-$UNIQUE_NAME
      definition: |-
        {
          "custom_tags.CostCenter": {
            "type": "fixed",
            "value": "from-fixed"
          }
        }

  jobs:
    # The config sets the fixed attribute to a value the policy forbids.
    j:
      name: test-job-$UNIQUE_NAME
      job_clusters:
        - job_cluster_key: small
          new_cluster:
            policy_id: ${resources.cluster_policies.pol.id}
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
            custom_tags:
              CostCenter: not-what-the-policy-says
      tasks:
        - task_key: t
          job_cluster_key: small
          spark_python_task:
            python_file: ./hello_world.py
