bundle:
  name: lifecycle-started-$UNIQUE_NAME

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  sql_warehouses:
    mywarehouse:
      name: $UNIQUE_NAME
      cluster_size: "Medium"
      lifecycle:
        started: true
