{
    "project_name": "my_test_code",
    "spark_version": "$SPARK_VERSION",
    "node_type_id": "$NODE_TYPE_ID",
    "unique_id": "$UNIQUE_NAME",
    "python_wheel_wrapper": $PYTHON_WHEEL_WRAPPER,
    "instance_pool_id": "$TEST_INSTANCE_POOL_ID"
}
