RecordRequests = true
IncludeRequestHeaders = ["Authorization", "User-Agent"]

[[Repls]]
Old = '(linux|darwin|windows)'
New = '[OS]'

[[Repls]]
Old = " upstream/[A-Za-z0-9.-]+"
New = ""

[[Repls]]
Old = " upstream-version/[A-Za-z0-9.-]+"
New = ""

[[Repls]]
Old = " cicd/[A-Za-z0-9.-]+"
New = ""
