bundle:
  name: vs-index-grants-$UNIQUE_NAME

sync:
  paths: []

resources:
  vector_search_indexes:
    my_index:
      name: main.default.vs_index_$UNIQUE_NAME
      endpoint_name: vs-endpoint-$UNIQUE_NAME
      primary_key: id
      index_type: DIRECT_ACCESS
      direct_access_index_spec:
        schema_json: '{"columns":[{"name":"id","type":"integer"}]}'
      grants:
        - principal: deco-test-user@databricks.com
          privileges:
            - SELECT
