bundle:
  name: deploy-models-basic-$UNIQUE_NAME

resources:
  models:
    my_model:
      name: my-model-$UNIQUE_NAME
      description: "original description"
      tags:
        - key: "key1"
          value: "value1"
