# Default settings that apply to all tests unless overriden by test.toml files in inner directories.
Local = true
Cloud = false

Env.PYTHONDONTWRITEBYTECODE = "1"
EnvRepl.PYTHONDONTWRITEBYTECODE = false

Env.PYTHONUNBUFFERED = "1"
EnvRepl.PYTHONUNBUFFERED = false
