# Default settings that apply to all tests unless overriden by test.toml files in inner directories.
Local = true
Cloud = false

# default timeouts
Timeout = '20s'
TimeoutWindows = '60s'
TimeoutCloud = '120s'
