// This file is used to build the sbt project with Databricks Connect.
// This also includes the instructions on how to to create the jar uploaded via databricks bundle
scalaVersion := "{{template `scala_version` .}}"

name := "{{.project_name}}"
organization := "{{template `organization` .}}"
version := "{{template `version` .}}"

libraryDependencies += "com.databricks" % "databricks-connect" % "{{template `dbr_version` .}}.+"
libraryDependencies += "org.slf4j" % "slf4j-simple" % "2.0.16"

libraryDependencies += "org.scalatest" %% "scalatest" % "3.2.19" % Test

assembly / assemblyOption ~= { _.withIncludeScala(false) }
assembly / assemblyExcludedJars := {
  val cp = (assembly / fullClasspath).value
  cp filter { _.data.getName.matches("scala-.*") } // remove Scala libraries
}

assemblyMergeStrategy := {
  case _ => MergeStrategy.preferProject
}

// to run with new jvm options, a fork is required otherwise it uses same options as sbt process
fork := true
javaOptions += "--add-opens=java.base/java.nio=ALL-UNNAMED"

