bundle:
  name: schema-grants-$UNIQUE_NAME

resources:
  schemas:
    grants_schema:
      name: schema_grants_$UNIQUE_NAME
      catalog_name: main
      comment: Schema with managed grants for testing
      grants:
        - principal: account users
          privileges:
            - CREATE_TABLE
            - USE_SCHEMA
        - principal: analysts
          privileges:
            - USE_SCHEMA
