bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    sample_job:
      tasks:
        - task_key: new_task
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/new_task
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1

targets:
  default:
    mode: development
