bundle:
  name: publish-failure-cleans-up-dashboard

resources:
  dashboards:
    dashboard1:
      display_name: my dashboard
      warehouse_id: doesnotexist
      file_path: ./dashboard.lvdash.json
