bundle:
  name: test-pipeline-lakeflow-pipeline-$UNIQUE_NAME

resources:
  pipelines:
    foo:
      configuration:
        spark.sql.ansi.enabled: "true"
      name: test-pipeline-lakeflow-pipeline-$UNIQUE_NAME
      libraries:
        - glob:
            include: ./pipeline/transformations/**
        - glob:
            include: /Workspace/Shared/transformations/**
      root_path: "./pipeline/"
