bundle:
  name: config-drift-$UNIQUE_NAME

resources:
  apps:
    myapp:
      name: a-$UNIQUE_NAME
      description: my_app
      config:
        command:
          - python
          - app.py
        env:
          - name: MY_VAR
            value: original_value
      lifecycle:
        started: true

targets:
  first:
    default: true
    resources:
      apps:
        myapp:
          source_code_path: ./app
  second:
    resources:
      apps:
        myapp:
          name: b-$UNIQUE_NAME
          git_source:
            git_repository:
              url: https://github.com/databricks/databricks-cli.git
              provider: gitHub
            branch: main
