bundle:
  name: uc-volname-$UNIQUE_NAME

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  volumes:
    my_volume:
      catalog_name: main
      schema_name: default
      name: MyVolume-$UNIQUE_NAME
      volume_type: MANAGED
