# This is a Databricks pipelines definition for {{.project_name}}.
# See https://docs.databricks.com/dev-tools/bundles/index.html for documentation.
bundle:
  name: {{.project_name}}
  uuid: {{bundle_uuid}}

include:
  - resources/*.yml
  - resources/*/*.yml
  - {{.project_name}}_pipeline/*.yml

# Variable declarations. These variables are assigned in the dev/prod targets below.
variables:
  catalog:
    description: The catalog to use
  schema:
    description: The schema to use
  notifications:
    description: The email addresses to use for failure notifications

targets:
  dev:
    # The default target uses 'mode: development' to create a development copy.
    # - Deployed pipelines get prefixed with '[dev my_user_name]'
    mode: development
    default: true
    workspace:
      host: {{workspace_host}}
    variables:
      catalog: {{.default_catalog}}
      schema: {{template `dev_schema` .}}
      notifications: []

  prod:
    mode: production
    workspace:
      host: {{workspace_host}}
      # We explicitly deploy to /Workspace/Users/{{user_name}} to make sure we only have a single copy.
      root_path: /Workspace/Users/{{user_name}}/.bundle/${bundle.name}/${bundle.target}
    permissions:
      - {{if is_service_principal}}service_principal{{else}}user{{end}}_name: {{user_name}}
        level: CAN_MANAGE
    variables:
      catalog: {{.default_catalog}}
      schema: {{template `prod_schema` .}}
      notifications: [{{user_name}}]
