resources:
  pipelines:
    {{.pipeline_name}}:
      name: {{.pipeline_name}}
      serverless: true
      {{- if or (eq default_catalog "") (eq default_catalog "hive_metastore")}}
      ## Specify the 'catalog' field to configure this pipeline to make use of Unity Catalog:
      # catalog: ${var.catalog}
      {{- else}}
      catalog: ${var.catalog}
      {{- end}}
      target: ${var.schema}
      libraries:
        - file:
            path: sources/${bundle.target}/*.py
        - file:
            path: __init__.py
