bundle:
  name: cluster_policy_definition_yaml

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  cluster_policies:
    pol:
      name: my_policy-$UNIQUE_NAME
      definition:
        spark_version:
          type: fixed
          value: 13.3.x-scala2.12
        autotermination_minutes:
          type: range
          minValue: 10
          maxValue: 120
        enable_elastic_disk:
          type: fixed
          value: true
