package cmd

import (
	"github.com/databricks/bricks/cmd/root"
    {{range .Packages}}
	"github.com/databricks/bricks/cmd/{{.Name}}"{{end}}
)

func init() {
    {{range .Packages}}
	root.RootCmd.AddCommand({{.Name}}.Cmd){{end}}
}
