package {{.Name}}

import (
    {{range .Services}}
	"github.com/databricks/bricks/cmd/{{.Package.Name}}/{{.KebabName}}"{{end}}
	"github.com/spf13/cobra"
)

var Cmd = &cobra.Command{
	Use:   "{{.Name}}",
    {{if .Description -}}
    Short: `{{.Summary | without "`"}}`,
	Long: `{{.Comment  "  " 80 | without "`"}}`,
    {{- end}}
}

func init() {
    Cmd.PersistentFlags().String("profile", "", "~/.databrickscfg profile")
    {{range .Services}}
    Cmd.AddCommand({{.SnakeName}}.Cmd){{end}}
}
