Cloud = true
Local = false

# Temporarily disabling due to IsServicePrincipal/email_notifications differences.
CloudEnvs.gcp = false

Ignore = [
    '.venv',
]

EnvMatrix.UV_PYTHON = [
    "3.9",
    "3.10",
    "3.11",
    "3.12",
    "3.13",
]

EnvRepl.UV_PYTHON = true

[[Repls]]
# for some reason leading number is lost converting "%H%M%S" 061234 to 61234
Old = '\d{5,}'
New = '[NUMBER]'

[[Repls]]
Old = 'Standard_D3_v2'
New = '[NODE_TYPE_ID]'

[[Repls]]
Old = '\\\\'
New = '/'

[[Repls]]
# python is used on Windows
Old = "python setup.py bdist_wheel"
New = "python3 setup.py bdist_wheel"

[[Repls]]
Old = '\?o=\[NUMBER\]'
New = ''
Order = 1000

[[Repls]]
Old = '\?o=\[NUMID\]'
New = ''
Order = 1000
