Cloud = true
Timeout = '1m'

Ignore = [
    '.venv',
]

EnvMatrix.UV_PYTHON = [
    "3.9",
    "3.10",
    "3.11",
    "3.12",
    "3.13",
]

EnvRepl.UV_PYTHON = true

[[Server]]
Pattern = "PUT /api/2.0/permissions/directories/0"
Response.Body = '{}'

[[Repls]]
# for some reason leading number is lost converting "%H%M%S" 061234 to 61234
Old = '\d{5,}'
New = '[NUMID]'

[[Repls]]
Old = 'Standard_D3_v2'
New = '[NODE_TYPE_ID]'

[[Repls]]
Old = '\\\\'
New = '/'

[[Repls]]
# python is used on Windows
Old = "python setup.py bdist_wheel"
New = "python3 setup.py bdist_wheel"

[[Repls]]
# clean up ?o=<num> suffix after URL since not all workspaces have that
Old = '\?o=\[NUMID\]'
New = ''
Order = 1000

[[Repls]]
# Fix up for local and GCP
Old = '"user_name": "\[USERNAME\]"'
New = '"service_principal_name": "[USERNAME]"'
