bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  pipelines:
    my_pipeline:
      catalog: main
      schema: default
      configuration:
        key1: value1
      notifications:
        - email_recipients:
            - success@example.com
          alerts:
            - on-update-success
      permissions:
        - level: CAN_VIEW
          user_name: viewer@example.com
      libraries:
        - notebook:
            path: /Users/{{workspace_user_name}}/notebook
