bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  pipelines:
    my_pipeline:
      name: test-pipeline-$UNIQUE_NAME
      catalog: main
      schema: default
      configuration:
        key1: value1
      notifications:
        - email_recipients:
            - success@example.com
          alerts:
            - on-update-success
      libraries:
        - notebook:
            path: /Users/{{workspace_user_name}}/notebook

targets:
  default:
    mode: development
