resources:
  schemas:
    bar:
      name: test_schema_$UNIQUE_NAME
      catalog_name: main
      comment: This schema was created from DABs

targets:
  development:
    resources:
      pipelines:
        foo:
          target: ${resources.schemas.bar.name}
          catalog: main
