bundle:
  name: wheel-task-with-environments

workspace:
  root_path: "~/.bundle/{{.unique_id}}"

resources:
  jobs:
    some_other_job:
      name: "[${bundle.target}] Test Wheel Job With Environments {{.unique_id}}"
      tasks:
        - task_key: TestTask
          python_wheel_task:
            package_name: my_test_code
            entry_point: run
            parameters:
              - "one"
              - "two"
          environment_key: "test"
      environments:
        - environment_key: "test"
          spec:
            client: "1"
            dependencies:
              - ./dist/*.whl
