bundle:
  name: deploy-registered-models-basic-$UNIQUE_NAME

resources:
  registered_models:
    my_registered_model:
      name: $NAME
      comment: $COMMENT
      catalog_name: $CATALOG_NAME
      schema_name: $SCHEMA_NAME
