bundle:
  name: select-grants-$UNIQUE_NAME

resources:
  schemas:
    bronze:
      catalog_name: main
      name: bronze_$UNIQUE_NAME
      grants:
        - principal: deco-test-user@databricks.com
          privileges:
            - ALL_PRIVILEGES

    silver:
      catalog_name: main
      name: silver_$UNIQUE_NAME
      grants:
        - principal: deco-test-user@databricks.com
          privileges:
            - ALL_PRIVILEGES
