bundle:
  name: genie-version-migration-$UNIQUE_NAME

resources:
  genie_spaces:
    foo:
      title: "Version Migration"
      warehouse_id: $TEST_DEFAULT_WAREHOUSE_ID
      serialized_space:
        version: 1
