resources:
  apps:
    data_app:
      name: "data-app"
      source_code_path: ../app
      description: "A Streamlit app that uses a SQL warehouse"
      resources:
        - name: "sql-warehouse"
          description: "A SQL warehouse for app to be able to work with"
          sql_warehouse:
            id: "{{.sql_warehouse_id}}"
            permission: "CAN_USE"

