bundle:
  name: test-bundle-$UNIQUE_NAME

variables:
  secret_value:
    description: "Test secret value"

resources:
  secrets:
    secret1:
      catalog_name: main
      schema_name: default
      name: test_secret_${UNIQUE_NAME}
      value: ${var.secret_value}
      expire_time: "2030-01-01T00:00:00Z"
