bundle:
  name: vector-search-endpoints-$UNIQUE_NAME

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  vector_search_endpoints:
    test_endpoint:
      name: test-vs-endpoint-$UNIQUE_NAME
      endpoint_type: STANDARD

targets:
  development:
    default: true
