bundle:
  name: uc-modelcat-$UNIQUE_NAME

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  registered_models:
    my_model:
      name: mymodel-$UNIQUE_NAME
      catalog_name: main
      schema_name: default
