from pyspark.sql import SparkSession, DataFrame

def get_taxis(spark: SparkSession) -> DataFrame:
  return spark.read.table("samples.nyctaxi.trips")

def main():
  from databricks.sdk.runtime import spark
  get_taxis(spark).show(5)

if __name__ == '__main__':
  main()
