bundle:
  name: model-change-tags-$UNIQUE_NAME

resources:
  models:
    my_model:
      name: $MODEL_NAME
      description: $MODEL_DESCRIPTION
      tags:
        - key: "key1"
          value: "value1"
        - key: "key2"
          value: "value2"
