# Fixtures
{{- /*
We don't want to have too many README.md files, since they
stand out so much. But we do need to have a file here to make
sure the folder is added to Git.
*/}}

This folder is reserved for fixtures, such as csv files.

Below is an example of how to load fixtures as a data frame:

```
import pandas as pd

df = pd.read_csv("../fixtures/mycsv.csv")
display(df)
```
