# A sample job for {{.project_name}}.

{{$with_serverless := (eq .serverless "yes") -}}

resources:
  jobs:
    sample_job:
      name: sample_job

      trigger:
        # Run this job every day, exactly one day from the last run; see https://docs.databricks.com/api/workspace/jobs/create#trigger
        periodic:
          interval: 1
          unit: DAYS

      #email_notifications:
      #  on_failure:
      #    - your_email@example.com

      tasks:
        - task_key: notebook_task
        {{- if not $with_serverless}}
          job_cluster_key: job_cluster{{end}}
          notebook_task:
            notebook_path: sample_notebook.ipynb
        {{- end -}}
        {{- if (eq .include_python "yes") }}

        - task_key: main_task
          {{- if (eq .include_dlt "yes") }}
          depends_on:
            - task_key: refresh_pipeline
          {{- else if (eq .include_notebook "yes" )}}
          depends_on:
            - task_key: notebook_task
          {{- if $with_serverless }}
          environment_key: default
          {{- else }}
          job_cluster_key: job_cluster{{end}}
          spark_python_task:
            python_file: sample_python_file.py
          {{- if not $with_serverless }}
          libraries:
            # By default we just include the .whl file generated for the {{.project_name}} package.
            # See https://docs.databricks.com/dev-tools/bundles/library-dependencies.html
            # for more information on how to add other libraries.
            - whl: ../../dist/*.whl
{{- end -}}
{{else}}
{{- end}}
{{if $with_serverless}}{{if (eq .include_python "yes")}}
      # A list of task execution environment specifications that can be referenced by tasks of this job.
      environments:
        - environment_key: default
          spec:
            client: "2"
            dependencies:
              - ../../dist/*.whl
{{end}}{{ else }}
      job_clusters:
        - job_cluster_key: job_cluster
          new_cluster:
            spark_version: {{template "latest_lts_dbr_version"}}
            node_type_id: {{smallest_node_type}}
            data_security_mode: SINGLE_USER
            autoscale:
              min_workers: 1
              max_workers: 4
{{end -}}
