bundle:
  name: destroy-dashboard-${UNIQUE_NAME}

resources:
  dashboards:
    dashboard1:
      display_name: ${DASHBOARD_DISPLAY_NAME}
      warehouse_id: ${TEST_DEFAULT_WAREHOUSE_ID}
      file_path: ./dashboard.lvdash.json
