Local = true
Cloud = true
RequiresUnityCatalog = true

Ignore = [
    "databricks.yml",
]

[[Server]]
Pattern = "POST /api/2.1/unity-catalog/models"
Response.Body = '''
{
  "full_name": "main.test-schema-rmodel-6260d50f-e8ff-4905-8f28-812345678903.test-registered-model-6260d50f-e8ff-4905-8f28-812345678903",
  "schema_name": "test-schema-rmodel-6260d50f-e8ff-4905-8f28-812345678903",
  "name": "test-registered-model-6260d50f-e8ff-4905-8f28-812345678903"
}
'''

[[Server]]
Pattern = "GET /api/2.1/unity-catalog/models/{model_full_name}"
Response.Body = '''
{
  "catalog_name": "main",
  "full_name": "main.test-schema-rmodel-6260d50f-e8ff-4905-8f28-812345678903.test-registered-model-6260d50f-e8ff-4905-8f28-812345678903",
  "schema_name": "test-schema-rmodel-6260d50f-e8ff-4905-8f28-812345678903",
  "name": "test-registered-model-6260d50f-e8ff-4905-8f28-812345678903"
}
'''

[[Server]]
Pattern = "DELETE /api/2.1/unity-catalog/models/{model_full_name}"
