.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx
docs/_output
docs/_build/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Test output
.coverage
