{{$with_serverless := (eq .serverless "yes") -}}
from databricks.bundles.pipelines import Pipeline

"""
The main pipeline for {{.project_name}}
"""

{{.project_name}}_pipeline = Pipeline.from_dict(
    {
        "name": "{{.project_name}}_pipeline",
        {{- if or (eq default_catalog "") (eq default_catalog "hive_metastore")}}
        {{- if $with_serverless }}
        ## Catalog is required for serverless compute
        "catalog": "main",
        {{- else}}
        ## Specify the 'catalog' field to configure this pipeline to make use of Unity Catalog:
        # "catalog": "catalog_name",
        {{- end}}
        {{- else}}
        "catalog": "{{default_catalog}}",
        {{- end}}
        "schema": "{{.project_name}}_${bundle.target}",
        {{- if $with_serverless }}
        "serverless": True,
        {{- end}}
        "libraries": [
            {
                "notebook": {
                    "path": "src/pipeline.ipynb",
                },
            },
        ],
        "configuration": {
            "bundle.sourcePath": "${workspace.file_path}/src",
        },
    }
)
