bundle:
  name: test-deploy-cluster-simple

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  clusters:
    test_cluster:
      cluster_name: test-cluster-$UNIQUE_NAME
      spark_version: $DEFAULT_SPARK_VERSION
      node_type_id: $NODE_TYPE_ID
      num_workers: 2
      spark_conf:
        "spark.executor.memory": "2g"

  jobs:
    foo:
      name: test-job-with-cluster-$UNIQUE_NAME
      tasks:
        - task_key: my_spark_python_task
          existing_cluster_id: "${resources.clusters.test_cluster.cluster_id}"
          spark_python_task:
            python_file: ./hello_world.py
