from databricks.bundles.core import Resources


def load_resources() -> Resources:
    resources = Resources()

    resources.add_SINGULAR(
        "my_NAME_2",
        {
            # same required fields as _1, slightly different values
        },
    )

    return resources
