# Make a copy of this to set environment variables for local development
# cp .env.example .env.local

# TODO: Fill in auth related env vars
DATABRICKS_CONFIG_PROFILE=DEFAULT
# DATABRICKS_HOST=https://<your-workspace-here>.databricks.com
# DATABRICKS_TOKEN=dapi....

# TODO: Update with the MLflow experiment you want to log traces and models to
MLFLOW_EXPERIMENT_ID=

# TODO: Update the route to query agent if you used a different port to deploy your agent
API_PROXY=http://localhost:8000/invocations

CHAT_APP_PORT=3000
CHAT_PROXY_TIMEOUT_SECONDS=300
MLFLOW_TRACKING_URI="databricks"
MLFLOW_REGISTRY_URI="databricks-uc"
