# https://github.com/databricks/cli/issues/3864
bundle:
  name: test-bundle-$UNIQUE_NAME

targets:
  green:
    resources:
      jobs:
        interim_gold_layer_job:
          permissions:
          - service_principal_name: $CURRENT_USER_NAME
            level: CAN_MANAGE_RUN
