bundle:
  name: cluster-libraries-scenarios-$UNIQUE_NAME

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  clusters:
    mycluster:
      cluster_name: mycluster-$UNIQUE_NAME
      spark_version: $DEFAULT_SPARK_VERSION
      node_type_id: $NODE_TYPE_ID
      num_workers: 1
