bundle:
  name: com.mycompany.{{.project_name}}

include:
  - res/*.yml

artifacts:
    {{.project_name}}:
      type: whl
      path: "."
      build: "python3 setup.py bdist_wheel"

environments:
  dev:
    workspace:
      host: {{workspace_host}}
    mode: development
    default: true

  prod:
    workspace:
      host: {{workspace_host}}
      root_path: /Shared/.bundle/prod/${bundle.name}
    mode: production

    {{- if is_service_principal -}}
    {{- else -}}
    {{- /* TODO: use the top-level run_as property once implemented
    run_as:
      user_name: brackets user_name brackets
    */ -}}
    {{- end -}}
