bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  dashboards:
    my_dashboard:
      display_name: test-dashboard-$UNIQUE_NAME
      file_path: ./dashboard.lvdash.json
      warehouse_id: $TEST_DEFAULT_WAREHOUSE_ID
