IncludeRequestHeaders = ["Authorization"]
RecordRequests = true

Local = true
Cloud = false

[[Repls]]
Old = 'darwin|linux|windows'
New = '[OS]'

[[Repls]]
Old = 'execution_time_ms\\\":\d{1,5},'
New = 'execution_time_ms\":\"SMALL_INT\",'

[[Repls]]
Old = '"execution_time_ms": \d{1,5},'
New = '"execution_time_ms": SMALL_INT,'

[[Server]]
Pattern = "POST /telemetry-ext"
Response.Body = '''
{
    "errors": [],
    "numProtoSuccess": 2
}
'''

[[Repls]]
Old = "(?:[01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
New = "HH:MM:SS"

[[Repls]]
Old = "pid=[0-9]+"
New = "pid=PID"

[[Repls]]
Old = "\\([0-9]+ more bytes\\)"
New = "(N more bytes)"
