bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  genie_spaces:
    genie_space1:
      title: $GENIE_SPACE_TITLE
      warehouse_id: "test-warehouse-id"
      parent_path: /Users/$CURRENT_USER_NAME
      file_path: "sample-space.geniespace.json"
