[[Server]]
Pattern = "GET /custom/endpoint"
Response.Body = '''custom
---
response
'''
Response.StatusCode = 201

[[Repls]]
Old = 'Date: .*'
New = 'Date: (redacted)'

[[Repls]]
Old = 'Content-Length: [0-9]*'
New = 'Content-Length: (redacted)'
