bundle:
  name: {{.project_name}}
{{if .bundle_variables}}

variables:
{{.bundle_variables}}
{{- end}}

resources:
  apps:
    app:
      name: "{{.project_name}}"
      description: "{{.app_description}}"
      source_code_path: ./

      # Uncomment to enable on behalf of user API scopes. Available scopes: sql, dashboards.genie, files.files
      # user_api_scopes:
      #   - sql
{{if .bundle_resources}}

      # The resources which this app has access to.
      resources:
{{.bundle_resources}}
{{- end}}

targets:
  prod:
    # mode: production
    default: true
    workspace:
      host: {{workspace_host}}
{{if .target_variables}}

    variables:
{{.target_variables}}
{{- end}}
