bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    my_job:
      tasks:
        - task_key: task1
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/task1
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
        - task_key: task2
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/task2
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 2
          depends_on:
            - task_key: task1
        - task_key: task3
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/task3
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 2
          depends_on:
            - task_key: task2
        - task_key: task4
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/task4
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
          depends_on:
            - task_key: task3

    rename_task_job:
      tasks:
        - task_key: task_rename_1
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/rename_task_1
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
        - task_key: task_rename_2
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/rename_task_2
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
          depends_on:
            - task_key: task_rename_1
