bundle:
  name: acc-$UNIQUE_NAME

resources:
  model_serving_endpoints:
    my_endpoint:
      name: $ENDPOINT_NAME

      permissions:
        - level: CAN_VIEW
          user_name: $TEST_USER_EMAIL
        - level: CAN_MANAGE
          user_name: $CURRENT_USER_NAME
