bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  schemas:
    schema1:
      catalog_name: main
      name: MySCHEMA_$UNIQUE_NAME

  volumes:
    vol1:
      catalog_name: main
      schema_name: MySCHEMA_$UNIQUE_NAME
      name: MyVOLUME
      volume_type: MANAGED
