bundle:
  name: test-bundle-$UNIQUE_NAME

resources:
  jobs:
    test_job:
      tasks:
        - task_key: taskA
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/taskA
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
        - task_key: taskB
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/taskB
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
        - task_key: taskC
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/taskC
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
        - task_key: taskD
          notebook_task:
            notebook_path: /Users/{{workspace_user_name}}/taskD
          new_cluster:
            spark_version: $DEFAULT_SPARK_VERSION
            node_type_id: $NODE_TYPE_ID
            num_workers: 1
