bundle:
  name: update-publish-failure-stale-content

resources:
  dashboards:
    dashboard1:
      display_name: my dashboard
      warehouse_id: $TEST_DEFAULT_WAREHOUSE_ID
      file_path: ./dashboard.lvdash.json
