resources:
  schemas:
    bar:
      name: test-schema-{{.unique_id}}
      catalog_name: main
      comment: This schema was created from DABs

targets:
  development:
    resources:
      pipelines:
        foo:
          target: ${resources.schemas.bar.id}
          catalog: main
