bundle:
  name: schema-grants-oob-after-empty-$UNIQUE_NAME

resources:
  schemas:
    grants_schema:
      name: schema_oob_after_empty_$UNIQUE_NAME
      catalog_name: main
      grants: [{ principal: deco-test-user@databricks.com, privileges: [USE_SCHEMA] }]
