name: check

on:
  pull_request:
    types: [opened, synchronize]
  merge_group:
    types: [checks_requested]
  push:
    # Always run on push to main. The build cache can only be reused
    # if it was saved by a run from the repository's default branch.
    # The run result will be identical to that from the merge queue
    # because the commit is identical, yet we need to perform it to
    # seed the build cache.
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          # Use different schema from regular job, to avoid overwriting the same key
          cache-dependency-path: |
            go.sum
            .golangci.yaml

      - name: Run go mod tidy
        run: go mod tidy

      - name: Fail if go.mod/go.sum changed
        run: git diff --exit-code

      - name: Run Go lint checks (does not include formatting checks)
        run: go tool -modfile=tools/go.mod golangci-lint run --timeout=15m

      - name: Run ruff (Python linter and formatter)
        uses: astral-sh/ruff-action@4919ec5cf1f49eff0871dbcea0da843445b837e6 # v3.6.1
        with:
          version: "0.9.1"
          args: "format --check"

      - name: "make fmtfull: Python and Go formatting"
        # Python formatting is already checked above, but this also checks Go and YAML formatting
        # and verifies that the make command works correctly
        run: |
          make fmtfull
          git diff --exit-code

      - name: "make checks: custom checks outside of fmt and lint"
        run: |-
          make checks
          git diff --exit-code
