bundle:
  name: secret-scope-collapse-$UNIQUE_NAME

resources:
  secret_scopes:
    my_scope:
      name: $SECRET_SCOPE_NAME
      backend_type: "DATABRICKS"
      permissions:
        # Current user gets READ (should be overridden to MANAGE by fixup in direct mode)
        - service_principal_name: ${workspace.current_user.userName}
          level: READ
        # Test user gets WRITE first, then READ (direct: collapses to highest, i.e. WRITE)
        - user_name: deco-test-user@databricks.com
          level: WRITE
        - user_name: deco-test-user@databricks.com
          level: READ
        # Group gets WRITE first, then READ (direct: collapses to highest, i.e. WRITE)
        - group_name: users
          level: WRITE
        - group_name: users
          level: READ
