bundle:
  name: vector-search-$UNIQUE_NAME

workspace:
  root_path: ~/.bundle/$UNIQUE_NAME

resources:
  vector_search_endpoints:
    test_endpoint:
      name: $ENDPOINT_NAME
      endpoint_type: STANDARD
  vector_search_indexes:
    test_index:
      name: $INDEX_NAME
      endpoint_name: ${resources.vector_search_endpoints.test_endpoint.name}
      primary_key: my_pkey
      index_type: DELTA_SYNC
      delta_sync_index_spec:
        source_table: my_table
        pipeline_type: TRIGGERED

targets:
  development:
    default: true
