bundle:
  name: BUNDLE

workspace:
  resource_path: /foo/bar

resources:
  jobs:
    job1:
      name: job1

  schemas:
    schema1:
      catalog_name: c
      name: schema1
    my_schema:
      catalog_name: my_catalog
      name: my_schema

  volumes:
    volume1:
      name: volume1
      catalog_name: catalog1
      schema_name: schema1

  models:
    model1:
      name: model 1

  vector_search_endpoints:
    vs_endpoint:
      name: vs_endpoint
      endpoint_type: STANDARD

  vector_search_indexes:
    vs_index:
      name: my_catalog.${resources.schemas.my_schema.name}.my_index
      endpoint_name: vs_endpoint
      primary_key: id
      index_type: DELTA_SYNC

presets:
  name_prefix: "$PREFIX"
