bundle:
  name: BUNDLE

workspace:
  resource_path: /foo/bar

resources:
  jobs:
    job1:
      name: job1

  schemas:
    schema1:
      name: schema1

  volumes:
    volume1:
      name: volume1
      catalog_name: catalog1
      schema_name: schema1

presets:
  name_prefix: "$PREFIX"
